@import "tailwindcss";

@theme {
  --color-background: var(--color-green-50);
  --color-primary: var(--color-gray-900);
  --color-secondary: var(--color-gray-100);

  --color-on-background: var(--color-gray-900);
  --color-on-primary: var(--color-gray-50);
  --color-on-secondary: var(--color-gray-900);

  --color-accent: var(--color-pink-400);
  --color-accent-hover: var(--color-pink-500);
  --color-accent-active: var(--color-pink-600);

  --color-on-accent: var(--color-gray-50);

  --color-error: var(--color-red-500);
  --color-warning: var(--color-yellow-400);

  --color-on-error: var(--color-gray-50);
  --color-on-warning: var(--color-gray-50);

  --color-sidebar-nav-selected: var(--color-gray-800);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
